/Recycle/.vs/Recycle/v15/.suo
/Recycle/.vs/Recycle/v15/Server/sqlite3/db.lock
/Recycle/.vs/Recycle/v15/Server/sqlite3/storage.ide
/Recycle/.vs/Recycle/v15/Server/sqlite3/storage.ide-shm
/Recycle/.vs/Recycle/v15/Server/sqlite3/storage.ide-wal
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/Recycle.Api.AssemblyInfo.cs
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/Recycle.Api.AssemblyInfoInputs.cache
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/Recycle.Api.RazorAssemblyInfo.cache
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/Recycle.Api.RazorAssemblyInfo.cs
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/Recycle.Api.assets.cache
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/Recycle.Api.csproj.CoreCompileInputs.cache
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/Recycle.Api.csprojAssemblyReference.cache
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Recycle/Recycle.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Recycle/Recycle.Api/obj/Recycle.Api.csproj.nuget.cache
/Recycle/Recycle.Api/obj/Recycle.Api.csproj.nuget.g.props
/Recycle/Recycle.Api/obj/Recycle.Api.csproj.nuget.g.targets
/Recycle/Recycle.Api/obj/project.assets.json
/Recycle/Recycle.Mapper/bin/Debug/netcoreapp2.1/Recycle.Mapper.deps.json
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/Recycle.Mapper.AssemblyInfo.cs
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/Recycle.Mapper.AssemblyInfoInputs.cache
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/Recycle.Mapper.assets.cache
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/Recycle.Mapper.csproj.CoreCompileInputs.cache
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/Recycle.Mapper.csproj.FileListAbsolute.txt
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/Recycle.Mapper.csprojAssemblyReference.cache
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Recycle/Recycle.Mapper/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Recycle/Recycle.Mapper/obj/Recycle.Mapper.csproj.nuget.cache
/Recycle/Recycle.Mapper/obj/Recycle.Mapper.csproj.nuget.g.props
/Recycle/Recycle.Mapper/obj/Recycle.Mapper.csproj.nuget.g.targets
/Recycle/Recycle.Mapper/obj/project.assets.json
